
<div class="footer">
  <p>Plans for Schools</p>
<p>Plansforschools@gmail.com</p>

<form accept-charset="UTF-8" style="display: inline-block; width: 90%;" action="/search" method="post" >
                  
                  
                   
  <input name="search" type="text" placeholder="What class are you teaching?" />
   

<button class="button">Search Plans</button>
</div>
</form>


</div>


</div>


    </body>
</html>