<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
    <title>Plans for Schools</title>
    <link rel="stylesheet" href="app.css" type="text/css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="header">
        
        <a href="/">Home</a>
        <a href="/plans">Plans</a>
        <a href="/Curriculum">Curriculum</a>
        <a href="/add">Contact Us</a>
        <a href="/contacts" >Show Suggestions</a>
       <a href="/upload" >Upload your plans</a>
       <a href="/games" >Games</a>

  </div>
  
  
</div>
</div>

