p {

color: black;
text-align: center;
line-height: 30px;

}

body {
	
background-color: #555;
background-image: url("/logo.jpg");
background-repeat:no-repeat;
background-size:100% 100%;
text-align: center;
}

button {
	
color: orange;
position: relative;

}
.box {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 20px;
  border-radius: 50px;

}
h1 {
	
	color: red;
	text-align: center;
}
.item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px 0;
 
}


#itemsContainer {
    width: 100%;
    text-align: center;
    
    
}
.itemtitle {
  display: block;
   color: rgb(114, 76, 175);
   text-align: center;
   padding: 10px 10px;
   text-decoration: none;
   font-size: 25px
   
}

.plan {
  display: block;
   color: rgb(175, 168, 76);
   text-align: center;
   padding: 4px 6px;
   text-decoration: none;
   font-size: 16px
   
}
ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.par a:hover {
  background-color: #111;
}

table a:hover {
	  background-color: #111;

}
.active {
	color: red;
	
}

.button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.button1 {
	margin-top:30px;
	cursor: pointer;
	
	height:50px;
	background-color: red;
	border: none;
	color: white;
	padding: 15px 25px;
	text-align: center;
}
.button2 {
	margin-top:30px;
	  cursor: pointer;
	  height:50px;
	background-color: red;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  
}
#slider {
	position:Center;
	float:none;

	
	
}

#sidelink {
	position:right;
	float: center;
	
}
#slider :hover {
	background-color: #111;
}
.button:hover {
	background-color: #111;
}
.button1:hover {
	background-color: #111;
}
.button2:hover {
	background-color: #111;
}
footer {
  display: block;
  background-color: #000000;
  padding: 10px;
  text-align: center;
}

.footer p{
  color: #ffffff;
}


a:link, a:visited {
  background-color: red;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}


#par {
	
	  text-align: center;
	position: center;
	
}
#par a {
	
	  text-align: center;
	position: center;
	
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

#item {
	
	background-color: red;
	color: white;
	padding: 16px;
	font-size: 16px;
	cursor: pointer;
	position: relative;
}

#item:hover, item:focus {
	background-color: black;
}



#submenu a {
		
		position: center;

	
}


#submenu {
	display:none;
	position:absolute;
	background-color: red;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#submenu a {
	
	color:white;
	padding:12px 16px;
	text-decoration: none;
	display: block;
	
}

#submenu a:hover {
	background-color:black;
}

.p1 {

  color: white;
}
