<% include ../partials/header %>
<link rel="stylesheet" href="First.css" type="text/css"/>

<div class="row">
    <h1>Long Term Plans Upload Page</h1>
    <h2>Upload your termly plans here</h2>
    <img src="eng.jpg" alt="eng" width="200" height="200" class="center"> 

    <form id="uploadForm" ref="uploadForm" method="post" enctype="multipart/form-data">
        
        <input type="file" class="button" name="sampleFile"/>
        <input type="submit"  value="Upload Plan" />
        
    </form>
    
    
    </div>



<% include ../partials/footer %>