<!DOCTYPE html>

<html>

<head>
<title>Plans For Schools</title>
<link rel="stylesheet" href="First.css" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>
<header class="w3-container w3-theme w3-padding" id="myHeader">
    <div class="header">
      
        <div class="navhold">
        <div class="topnav">
        <a href="/">Home</a>
        <a href="/products">Curriculum</a>
        <a href="/add">Contact Us</a>
        <a href="/contacts" >Show Contacts</a>
       <a href="/upload" >Upload your plans</a>
       <a href="/games" >Games</a>
  </div>
  
  
  <div class="w3-center">
  <h4>Check out some websites for your classroom</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">Click the website to see more</h1>
    
  </div>
</header>

<h1>English Websites</h1>
 <img src="eng.jpg" alt="eng" width="200" height="200" class="center"> 
 
 <table style="height: 308px; width: 754px;" border="0">
<tbody>
<tr style="height: 14px;">
<td style="height: 14px; width: 386px;">
<h3><a href="http://us.penguingroup.com/static/packages/us/yreaders/aesop/index.html" target="_blank">Aesops Fables Animated</a></h3>
</td>
<td style="height: 14px; width: 354px;">
<h3><a href="http://www.learner.org/interactives/story/index.html" target="_blank">Elements of a Story</a></h3>
</td>
</tr>
<tr style="height: 14px;">
<td style="height: 14px; width: 386px;">
<h3><a href="http://www.sebastianswan.org.uk/index.html" target="_blank">Infant Explorer</a></h3>
</td>
<td style="height: 14px; width: 354px;">
<h3><a href="http://www.wordplays.com/p/index" target="_blank">Interactive Wordplays</a></h3>
</td>
</tr>
<tr style="height: 14px;">
<td style="height: 14px; width: 386px;">
<h3><a href="http://www.discoveryeducation.com/free-puzzlemaker/?CFID=9946&amp;CFTOKEN=19751214" target="_blank">Puzzlemaker</a></h3>
</td>
<td style="height: 14px; width: 354px;">
<h3><a href="http://www.readwritethink.org/files/resources/interactives/shape/" target="_blank">Shape Poems</a></h3>
</td>
</tr>
<tr style="height: 14px;">
<td style="height: 14px; width: 386px;">
<h3><a href="http://www.starfall.com/" target="_blank">Starfall</a></h3>
</td>
<td style="height: 14px; width: 354px;">
<h3><a href="http://www.magickeys.com/books/index.html" target="_blank">Storybooks Online</a></h3>
</td>
</tr>
<tr style="height: 14px;">
<td style="height: 14px; width: 386px;">
<h3><a href="http://myths.e2bn.org/story_creator/" target="_blank">Story Creator</a></h3>
</td>
<td style="height: 14px; width: 354px;">
<h3><a href="http://www.meddybemps.com/9.700.html" target="_blank">Story Starters</a></h3>
</td>
</tr>
<tr style="height: 14px;">
<td style="height: 14px; width: 386px;">
<h3><a href="http://www.tumblebooks.com/library/asp/home_tumblebooks.asp" target="_blank">Tumblebooks</a></h3>
</td>
<td style="height: 14px; width: 354px;">
<h3><a href="http://www.vocabulary.co.il/" target="_blank">Vocabulary Building</a></h3>
</td>
</tr>
<tr style="height: 14px;">
<td style="height: 14px; width: 386px;">
<h3><a href="http://www.wordle.net/" target="_blank">Word Clouds</a></h3>
</td>
<td style="height: 14px; width: 354px;">
<h3><a href="http://worldoftales.com/" target="_blank">World of Tales</a></h3>
</td>
</tr>
<tr style="height: 14.4px;">
<td style="height: 14.4px; width: 386px;">
<h3><a href="http://gigglepoetry.com/" target="_blank">Giggle Poetry</a></h3>
</td>
<td style="height: 14.4px; width: 354px;">
<h3><a href="http://www.kwarp.com/portfolio/grammarninja.html" target="_blank">Grammer Ninja</a></h3>
</td>
</tr>
</tbody>
</table>
<br><br><br><br>

<br><br>
<footer>
<form action="/action_page.php">
Contribute any useful websites you have used here:<br><br>
  Website Subject:<br>
  <input type="text" name="Subject" value="">
  <br>
  Web Address:<br>
  <input type="text" name="address" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 
<button class="button" onclick="myFunction()">Subscribe</button>

</footer>

</body>


<script>


function myFunction() {

prompt("Enter your email")

}
</script>

</html>



