<!DOCTYPE html>

<html>

<head>
<title>Plans For Schools</title>
<link rel="stylesheet" href="First.css" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>
<header class="w3-container w3-theme w3-padding" id="myHeader">
        <div class="header">
              
                <div class="navhold">
                <div class="topnav">
                <a href="/">Home</a>
                <a href="/products">Curriculum</a>
                <a href="/add">Contact Us</a>
                <a href="/contacts" >Show Contacts</a>
               <a href="/upload" >Upload your plans</a>
               <a href="/games" >Games</a>
          </div>
          
  
  
  <div class="w3-center">
  <h4>Check out some websites for your classroom</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">Click the website to see more</h1>
    
  </div>
</header>


<h1>Maths Websites</h1>
 <img src="imgmath.jpg" alt="maths" width="200" height="200" class="center"> 
 <div>
 <table style="width: 755px; height: 221px;" border="0" class="center">
<tbody>
<tr>
<td style="width: 382.8px;"><a href="http://school.discoveryeducation.com/brainboosters/" target="_blank">Brain Boosters</a></td>
<td style="width: 358px;"><a href="http://www.counton.org/" target="_blank">Count on</a></td>
</tr>
<tr>
<td style="width: 382.8px;"><a href="http://www.amblesideprimary.com/ambleweb/mentalmaths/fracto.html" target="_blank">Fractions to Decimals</a></td>
<td style="width: 358px;"><a href="http://www.funbrain.com/fract/index.html" target="_blank">Fractions Game</a></td>
</tr>
<tr>
<td style="width: 382.8px;"><a href="http://www.fractionmonkeys.co.uk/" target="_blank">Fraction Games</a></td>
<td style="width: 358px;"><a href="http://www.what2learn.com/home/examgames/maths/subtraction/" target="_blank">Fishy Time Tables</a></td>
</tr>
<tr>
<td style="width: 382.8px;"><a href="http://hoodamath.com/games/index.php" target="_blank">Hooda Maths</a></td>
<td style="width: 358px;"><a href="http://oswego.org/ocsd-web/games/mathmagician/maths1.html" target="_blank">Math Magician</a></td>
</tr>
<tr>
<td style="width: 382.8px;"><a href="http://moneyville.ie/" target="_blank">Moneyville  </a></td>
<td style="width: 358px;"><a href="http://www.puzzles.com/PuzzlePlayground/WelcomeToPuzzlePlayground.htm" target="_blank">Puzzle Playground</a></td>
</tr>
<tr>
<td style="width: 382.8px;"><a href="http://www.oswego.org/ocsd-web/games/SumSense/sumadd.html" target="_blank">Sum Sense Addition</a></td>
<td style="width: 358px;"><a href="http://www.oswego.org/ocsd-web/games/SumSense/sumdiv.html" target="_blank">Sum Sense Division</a></td>
</tr>
<tr>
<td style="width: 382.8px;"><a href="http://resources.oswego.org/games/mathmagician/mathsadd.html" target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/addition.png" /></a></td>
<td style="width: 358px;"><a href="http://www.coolmath-games.com" target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/cool_maths_games.png" /> </a></td>
</tr>
</tbody>
</table>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<h1>More Games</h1>

<a href="http://resources.oswego.org/games/mathmagician/mathsadd.html" target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/addition.png" /> </a>

<a href="http://resources.oswego.org/games/mathmagician/mathsadd.html" target="_blank">Addition</a>

<a href="http://www.coolmath-games.com" target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/cool_maths_games.png" /> </a>

<a href="http://www.coolmath-games.com" target="_blank">Cool Maths</a>

<a href="http://www.amblesideprimary.com/ambleweb/mentalmaths/grapher.html " target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/data_graphs.png" /> </a>



<a href="http://www.amblesideprimary.com/ambleweb/mentalmaths/grapher.html " target="_blank">Data Graphs</a>

<a href="http://www.amblesideprimary.com/ambleweb/mentalmaths/fracto.html" target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/decimals.png" /> </a>

<a href="http://www.amblesideprimary.com/ambleweb/mentalmaths/fracto.html" target="_blank">Decimals</a>

<a href="http://www.bgfl.org/bgfl/custom/resources_ftp/client_ftp/ks2/maths/fractions/index.htm " target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/fractions.png" /> </a>


<a href="http://www.bgfl.org/bgfl/custom/resources_ftp/client_ftp/ks2/maths/fractions/index.htm " target="_blank">Fractions</a>

<a href="http://www.fun4thebrain.com/" target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/fun4brain.png" /> </a>


<a href="http://www.fun4thebrain.com/" target="_blank">Fun 4 Brain</a>

<a href="https://ie.ixl.com/math/" target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/ixl.png" /> </a>



<a href="https://ie.ixl.com/math/" target="_blank">IXL</a>

<a href="https://www.mangahigh.com/en-gb/" target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/mangahigh.png" /> </a>


<a href="https://www.mangahigh.com/en-gb/" target="_blank">Manga High</a>

<a href="http://www.mathplayground.com/" target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/maths_playground.png" /> </a>



<a href="http://www.mathplayground.com/" target="_blank">Playground</a>

<a href="http://www.bgfl.org/bgfl/custom/resources_ftp/client_ftp/ks2/maths/measures/index.htm" target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/measures.png" /> </a>

<a href="http://www.bgfl.org/bgfl/custom/resources_ftp/client_ftp/ks2/maths/measures/index.htm" target="_blank">Measures</a>

<a href="http://www.amblesideprimary.com/ambleweb/mentalmaths/mentalmachine2.html" target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/mental_maths_ps.png" /> </a>


<a href="http://www.amblesideprimary.com/ambleweb/mentalmaths/mentalmachine2.html" target="_blank">Mental Maths</a>


<a href="http://resources.oswego.org/games/SumSense/summulti.html" target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/multiplication.png" /> </a>

<a href="http://resources.oswego.org/games/SumSense/summulti.html" target="_blank">Multiplication</a>

<a href="http://www.ictgames.com/sharknumbers.html" target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/place_value.png" /> </a>


<div class="panel-footer text-center">
<a href="http://www.ictgames.com/sharknumbers.html" target="_blank">Place Value</a>

<a href="http://www.bbc.co.uk/bitesize/ks1/maths/shapes/play/popup.shtml" target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/shapes.png" /> </a>


<a href="http://www.bbc.co.uk/bitesize/ks1/maths/shapes/play/popup.shtml" target="_blank">Shapes</a>

<a href="http://www.rabbittakeaway.co.uk/activity/" target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/subtraction.png" /> </a>

<a href="http://www.rabbittakeaway.co.uk/activity/" target="_blank">Subtraction</a>



<a href="http://www.sumdog.com" target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/sum_dog.png" /> </a>
</div>

<a href="http://www.sumdog.com" target="_blank">Sum Dog</a>

<a href="http://www.primaryresources.co.uk/online/symmetry.swf" target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/symmetry.png" /> </a>

<a href="http://www.primaryresources.co.uk/online/symmetry.swf" target="_blank">Symmetry</a>

<a href="http://www.topmarks.co.uk/maths-games" target="_blank">
<img class="img-responsive img-center" src="http://www.bullaunns.ie/media/images/Links/topmarks.png" /> </a>
</div>

<a href="http://www.topmarks.co.uk/maths-games" target="_blank">Topmarks</a>

<br><br>
<footer>
<form action="/action_page.php">
Contribute any useful websites you have used here:<br><br>
  Website Subject:<br>
  <input type="text" name="Subject" value="">
  <br>
  Web Address:<br>
  <input type="text" name="address" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 
<button class="button" onclick="myFunction()">Subscribe</button>

</footer>

</body>


<script>


function myFunction() {

prompt("Enter your email")

}
</script>

</html>



