<!DOCTYPE html>


<html>

<head>
<title>Plans For Schools</title>
<link rel="stylesheet" href="First.css" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>

<header class="w3-container w3-theme w3-padding" id="myHeader">
<div>
      
        <div class="navhold">
        <div class="topnav">
        <a href="/">Home</a>
        <a href="/products">Curriculum</a>
        <a href="/add">Contact Us</a>
        <a href="/contacts" >Show Contacts</a>
       <a href="/upload" >Upload your plans</a>
       <a href="/games" >Games</a>
  </div>
  
  
  <div class="w3-center">
  <h4>Check out some websites for your classroom</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">Click the website to see more</h1>
    
  </div>
</header>


<h1>Geography Websites</h1>
 <img src="imggeog.jpg" alt="geog" width="200" height="200" class="center"> 
 
 <table style="width: 756px; height: 189px;" border="0" class="center">
<tbody>
<tr>
<td style="width: 450.8px;"><a href="http://www.birdwatchireland.ie/KidsZone/tabid/74/Default.aspx" target="_blank">Birdwatch Ireland</a></td>
<td style="width: 291.6px;"><a href="http://www.clean-air-kids.org.uk/index.html" target="_blank">Clean Air Kids</a></td>
</tr>
<tr>
<td style="width: 450.8px;"><a href="http://www.discoveringantarctica.org.uk/index.php" target="_blank">Discovering Antartica</a></td>
<td style="width: 291.6px;"><a href="http://www.ecokids.ca/pub/index.cfm" target="_blank">Ecokids</a></td>
</tr>
<tr>
<td style="width: 450.8px;"><a href="http://www.ypte.org.uk/" target="_blank">Environmental Facts</a></td>
<td style="width: 291.6px;"><a href="http://www.meddybemps.com/Clouds/index.html" target="_blank">Fun with Clouds</a></td>
</tr>
<tr>
<td style="width: 450.8px;"><a href="http://kids.nationalgeographic.com/kids/" target="_blank">National Geographic Kids</a></td>
<td style="width: 291.6px;"><a href="http://www.kidsplanet.org/" target="_blank">Kids Planet</a></td>
</tr>
<tr>
<td style="width: 450.8px;"><a href="http://www.recyclezone.org.uk/" target="_blank">Recyclezone</a></td>
<td style="width: 291.6px;"><a href="http://www.planetpals.com/" target="_blank">Planet Pals</a></td>
</tr>
</tbody>
</table>
<br><br><br><br>

<br><br>
<footer>
<form action="/action_page.php">
Contribute any useful websites you have used here:<br><br>
  Website Subject:<br>
  <input type="text" name="Subject" value="">
  <br>
  Web Address:<br>
  <input type="text" name="address" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 
<button class="button" onclick="myFunction()">Subscribe</button>

</footer>

</body>


<script>


function myFunction() {

prompt("Enter your email")

}
</script>

</html>



