<!DOCTYPE html>

<html>

<head>
<title>Plans For Schools</title>
<link rel="stylesheet" href="First.css" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>
<header class="w3-container w3-theme w3-padding" id="myHeader">
        <div class="header">
              
                <div class="navhold">
                <div class="topnav">
                <a href="/">Home</a>
                <a href="/products">Curriculum</a>
                <a href="/add">Contact Us</a>
                <a href="/contacts" >Show Contacts</a>
               <a href="/upload" >Upload your plans</a>
               <a href="/games" >Games</a>
          </div>
          
  
  
  <div class="w3-center">
  <h4>Check out some websites for your classroom</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">Click the website to see more</h1>
    
  </div>
</header>



<h1>Science Websites</h1>
 <img src="imgsci.jpg" alt="science" width="200" height="200" class="center"> 
 
 <table style="width: 750.6px; height: 231px;" border="0" class="center">
<tbody>
<tr>
<td style="width: 374px;"><a href="http://www.peepandthebigwideworld.com/" target="_blank">Peep and the Wide World</a></td>
<td style="width: 364.6px;"><a href="http://www.primaryscience.ie/" target="_blank">Primary Science Ireland</a></td>
</tr>
<tr>
<td style="width: 374px;"><a href="http://www.scispy.ie/" target="_blank">Sci Spy</a></td>
<td style="width: 364.6px;"><a href="http://www.planetpals.com/" target="_blank">Planet Pals</a></td>
</tr>
<tr>
<td style="width: 374px;"><a href="http://www.bbc.co.uk/schools/scienceclips/" target="_blank">BBC Science Clips</a></td>
<td style="width: 364.6px;"><a href="http://www.bdi.ie/mambo/" target="_blank">Me and My Body</a></td>
</tr>
<tr>
<td style="width: 374px;"><a href="http://www.abc.net.au/science/experimentals/" target="_blank">Experimentals</a></td>
<td style="width: 364.6px;"><a href="http://www.nasa.gov/audience/forkids/kidsclub/flash/index.html" target="_blank">NASA Kids Club</a></td>
</tr>
<tr>
<td style="width: 374px;"><a href="http://www.planetaqua.ie/" target="_blank">Planet Aqua</a></td>
<td style="width: 364.6px;"><a href="http://www.windows2universe.org/" target="_blank">Windows to the Universe</a></td>
</tr>
</tbody>
</table>
<br><br><br><br>

<br><br>
<footer>
<form action="/action_page.php">
Contribute any useful websites you have used here:<br><br>
  Website Subject:<br>
  <input type="text" name="Subject" value="">
  <br>
  Web Address:<br>
  <input type="text" name="address" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 
<button class="button" onclick="myFunction()">Subscribe</button>

</footer>

</body>


<script>


function myFunction() {

prompt("Enter your email")

}
</script>

</html>



